body {
    background-color: #e1f1f6;
    font-family: Helvetica, sans-serif;
    color: #222;
}

.page {
    margin: 50px auto;
    width: 70%;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
}

.page-header {
    margin-bottom: 20px;
    position: relative;
}

.page-header h2 {
    float: left;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
}

.page-header .student-search {
    float: right;
    position: relative;
}

.page-header .student-search input {
    border-radius: 5px;
    border: 1px solid #eaeaea;
    padding: 8px 15px;
    font-size: 14px;
    position: relative;
    z-index: 100;
}

.page-header .alert {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 15px 12px 10px;
    background: rgba(255, 0, 0, .7);
    color: #fff;
    border-radius: 3px;
    position: absolute;
    opacity: 0;
    top: -45px;
    right: 80px;
    width: 150px;
    transition: 250ms all ease;
    z-index: 90;
    font-size: 12px;
}

.page-header .alert .close::before,
.page-header .alert .close::after {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 12px;
    right: 5px;
    cursor: pointer
}

.page-header .alert .close::before {
    transform: rotate(45deg);
}

.page-header .alert .close::after {
    transform: rotate(135deg);
}

.page-header .student-search button {
    border-radius: 5px;
    border: 1px solid #eaeaea;
    padding: 8px 15px;
    font-size: 14px;
    background-color: #4ba6c3;
    color: #fff
}

.student-list {}

.student-item {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #eaeaea;
}

.student-details {
    width: 50%;
    float: left;
}

.student-details .avatar {
    width: 40px;
    height: auto;
    border-radius: 20px;
    float: left;
    margin-right: 14px
}

.student-details h3 {
    margin: 4px 0 2px 0;
    font-weight: bold;
    color: #4ba6c3;
}

.student-details .email {
    color: #888;
    font-size: 14px;
}

.joined-details {
    width: 50%;
    float: left;
    text-align: right;
}

.joined-details .date {
    margin-top: 15px;
    display: block;
    font-size: 14px;
    color: #999;
}

.student-item:last-child {
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.pagination {
    margin: 40px 0 0 0;
    text-align: center;
}

.pagination li {
    display: inline;
}

.pagination li a {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 3px 8px;
    text-decoration: none;
    color: #4ba6c3;
}

.pagination li a.active, .pagination li a:hover {
    background-color: #4ba6c3;
    color: #fff;
}
